<div class="row">
	<div class="tbl_view">
		<h2>Leaves Request</h2>
		<div class="row">
			<span ng-show="!log.length">No record found</span>
			<div class="col-xs-2 colsep event-body" ng-repeat="x in log track by $index" ng-show="(log | filter:criteria).length">
				<div class="panel panel-default panelcus">
					<div class="panel-body">{{x.candidateName}}</div>
				</div>
				<div class="event-overlay">
				<div class="panel panel-default panelcus">
					<div class="panel-body" >
						<span>
							<a ng-href="" ng-click="approve($index, x.leaveRecordId)" target="_self">Approve</a>|
							<a ng-href="" ng-click="rejectmodal($index, x.leaveRecordId)" target="">Reject</a>|
							<span tooltip-template="'myTooltipTemplate.html'" tooltip-class="customClass" tooltip-animation="false" tooltip-placement="right" >Details</span>
						</span>
					</div>
				</div>
				</div>
		    	<script type="text/ng-template" id="myTooltipTemplate.html">
		    	<span class="tooltip-span">
		    		<p>From: {{x.leaveStartDate}}</p>
		    		<p>To: {{x.leaveEndDate}}</p>
		    		<p>Type:{{x.type}}</p>
	      		</span>	
	    		</script>
	    		<script type="text/ng-template" id="rejectmodal.html">
	    			 <div class="modal-header">
			            <h3 class="modal-title">Reason For Rejection</h3>
			        </div>
	      			<div class="row reject-modal">
	      				<div class="col-lg-20 reject-modal-col">
      						<textarea col="4" row="3"></textarea>
      						<button 
      							id="reject" 
      							ng-click="reject()" 
      							class="btn btn-lg btn-primary">Reject</button>
  						</div>
	      			</div>
	    		</script>
			</div>
		</div>
	</div>
</div>