<div class="row">
	<div class="tbl_view">
		<h2>Upcoming Leaves</h2>
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr><th>Start Date</th><th>End Date</th><th>Type</th><th>Duration</th><th>Reason</th><th>Status</th><th></th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in upcomingRecord track by $index">
						<td >{{ x.leaveStartDate }}</td> 
						<td>{{ x.leaveEndDate }}</td><td>{{ x.type }}</td><td>{{ x.totalDays }}</td><td>{{ x.reason }}</td>
						<td>{{ x.status }}</td>
						<td>
							<a ng-href="/" ng-click="open()" target="_self">Edit</a>|<a ng-href="" ng-click="removeRow($index)" target="">Cancel</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>