<div class="crow">
   <div class="tbl_view">
      <h2>History Leaves</h2>
      <div class="table-responsive">
      <span ng-show="!record.length">No Histroy leave found</span>
         <table class="table table-bordered table-hover table-striped" ng-show="(record | filter:criteria).length">
            <thead>
               <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Type</th>
                  <th>Duration</th>
                  <th>Reason</th>
                  <th>Status</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="x in record">
                  <td>{{ x.leaveStartDate }}</td>
                  <td>{{ x.leaveEndDate }}</td>
                  <td>{{ x.type }}</td>
                  <td>{{ x.totalDays }}</td>
                  <td>{{ x.reason }}</td>
                  <td>{{ x.status }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>