.module-home-page
  .row
    .col-lg-12
      h1.page-header Leave Consumption Indicator
      .preview
      piechart
      button#leaveform.btn.btn-lg.btn-primary.apply-btn(ng-click="showfrom()", type='button') Apply Leave